.ProductThumbnail {
  align-items: flex-start;
  border: 1px solid #e1e1e1;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 1.125em 0.68em;
  width: 320px;
}

.ProductThumbnail__img {
  width: 100%;
}

.ProductThumbnail__meta {
  align-items: flex-end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.ProductThumbnail__flag {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.ProductThumbnail__flag--sale {
  background: #cc3333;
  color: white;
  margin-bottom: 0.31em;
  padding: 0.75em 1em;
}

.ProductThumbnail__flag--exclusive {
  background: #009900;
  color: white;
  margin-bottom: 0.31em;
  padding: 0.75em 1em;
}

.ProductThumbnail__name {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  max-width: 50%;
}

.ProductThumbnail__price {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0;
}
